#!/usr/bin/env bash

alias a="apt"
alias ac="apt-cache"
alias ag="apt-get"
alias alu="apt list --upgradable"
alias ci="curl ifconfig.me"
alias l="ls"
alias la="l --all"
alias ll="l -l --all"
alias rmv="mv -fv --suffix=none -t ~/.local/share/Trash/files"
alias s="sudo"
alias sa="sudo apt"
alias sag="s apt-get"
alias sau="s apt update"
alias shr="shred -vxz"
alias stc="sudo tomb close"
alias sto="sudo tomb open"
alias t=". torsocks on"
alias tf=". torsocks off"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
