#!/usr/bin/env bash

function hello() {
  echo "hello"
}

function shrm() {
  shred -vxz "$@" && rm -fv "$@"
}

function gi() {
  curl -sL https://www.toptal.com/developers/gitignore/api/"$*" | sed -e 's/# Created by https:\/\/www\.toptal\.com\/developers\/gitignore\/api\/[a-z,]*//' \
    -e 's/# Edit at https:\/\/www\.toptal\.com\/developers\/gitignore?templates=[a-z,]*//' \
    -e 's/# End of https:\/\/www\.toptal\.com\/developers\/gitignore\/api\/[a-z,]*//' \
    -e '/^$/d' \
    -e '/^#/ s/^/\n/'
}

function editorconfig-inst() {
  if ! command -v ec > /dev/null 2>&1; then
    VERSION="2.4.0"
    OS="linux"
    ARCH="amd64"
    curl -O -L -C - https://github.com/editorconfig-checker/editorconfig-checker/releases/download/$VERSION/ec-$OS-$ARCH.tar.gz &&
      sudo -v &&
      sudo tar xzf ec-$OS-$ARCH.tar.gz --directory=/usr/local/bin/ --strip-components=1 &&
      sudo mv /usr/local/bin/ec-linux-amd64 /usr/local/bin/ec &&
      rm ec-$OS-$ARCH.tar.gz
  fi
}

function hadolint-inst() {
  sudo -v
  if ! command -v curl > /dev/null 2>&1; then
    sudo apt-get update &&
      sudo apt-get install --no-install-recommends --assume-yes \
        curl
  fi
  VERSION="v2.10.0"
  OS="Linux"
  ARCH="x86_64"
  sudo curl -O -L -C - https://github.com/hadolint/hadolint/releases/download/$VERSION/hadolint-$OS-$ARCH &&
    sudo mv hadolint-Linux-x86_64 /usr/local/bin/hadolint &&
    sudo chmod +x /usr/local/bin/hadolint
}

function trivy-inst() {
  if ! command -v trivy > /dev/null 2>&1; then
    sudo -v
    if ! command -v wget > /dev/null 2>&1 || ! command -v apt-transport-https > /dev/null 2>&1 || ! command -v gnupg > /dev/null 2>&1 || ! command -v lsb-release > /dev/null 2>&1; then
      sudo apt-get update &&
        sudo apt-get install --no-install-recommends --assume-yes \
          wget \
          apt-transport-https \
          gnupg \
          lsb-release
    fi
    wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
    echo deb https://aquasecurity.github.io/trivy-repo/deb "$(lsb_release -sc)" main | sudo tee -a /etc/apt/sources.list.d/trivy.list
    sudo apt-get update
    sudo apt-get install --no-install-recommends --assume-yes \
      trivy
  fi
}
